body {
    background-image: url(../assets/image/cover-img.png);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bod {
    margin: 0 auto;
    animation-name: fade-start;
    animation-duration: 3s;
}

#hide {
    display: none;
}

@keyframes fade-start {
    from {opacity: 0;}
    20% {opacity: 0;}
    to {opacity: 1;}
}

.main-container {
    background-color: white;
    padding: 20px;
    margin: 40px 80px 0 80px;
    border-radius: 40px;
}

.nav {
    text-align: center;
}

.nav > button {
    /*  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 27px;
    margin: 0 10px;
    border: solid rgb(0, 124, 207);
    display: inline;
}

.nav > button:hover {
    cursor: pointer;
}

#win-btn {
    color: rgb(0, 124, 207);
    background: none;
}
#android-btn {
    color: rgb(0, 124, 207);
    background: none;
}

.game-title {
    margin: 1cm;
    /* font-family: 'Copper Gothic Bold'; */
    font-family: cursive;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px rgba(50, 255, 255, 1);
    font-size: larger;
    animation: slide-anim 1s;
}

table {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: monospace;
    font-size: large;
    margin-bottom: 20px;
}

.logo-image {
    text-align: center;
}
.logo-image > img {
    width: 14%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 25px;
}
h3 {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: serif;
    margin: 4px 0;
}
.game-article {
    margin: 1cm 2cm;
}
article {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 8px;
}
.download-btn {
    text-align: center;
}
.download-btn > button {
    background: none;
    border-style: solid;
    border-color: rgb(37, 37, 37);
    border-width: 4px;
    color: black;
    /* font-family: 'Franklin Demi', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bold;
    
    margin: 0.4cm 0;
    padding: 10px 58px;
    
    transition: .2s;
}
.download-btn > button:hover {
    color: white;
    background: rgb(37, 37, 37);
    cursor: pointer;
}
.end-download {
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: larger;
}
.github-link {
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;
}
.github-link > a {
    font-family: 'Franklin Demi';
    color: blue;
}
.github-link > a:hover {
    text-decoration: none;
    cursor: pointer;
}

.end-download {
    margin: 3cm 0 1cm 0;
}

table td {
    vertical-align: top;
}

@font-face {
    font-family: 'Copper Gothic Bold';
    src: url(../assets/font/COPRGTB.ttf);
}

@font-face {
    font-family: 'Franklin Demi';
    src: url(../assets/font/FRADM.ttf);
}

@media screen and (max-width: 640px) {
    .logo-image > img {
        width: 30%
    }
    .end-download {
        font-size: medium;
    }
    .download-btn > button {
        font-size: larger;
        border-width: 3px;
        width: 4cm;
    }
    .main-container {
        border-radius: 20px;
        margin: 10px 10px 0px 15px;
    }
    .game-article {
        margin: .4cm .4cm;
    }
    .download-btn > button {
        width: 180px;
        height: 40px;
        padding: 0;
    }
}