body {
    background-color: black;
}
a {
    color: blue;
    font-weight: bold;
}
a:hover {
    text-decoration: none;
}
.background {
    background: url(images/background-0.png) no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    margin: -8px;
}
.subtitle {
    text-align: right;
}
.subtitle > a {
    text-decoration: none;
}
.subtitle > a > button {
    margin-top: 2px;
    margin-right: 2px;
    padding: 8px;
    background: none;
    color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}
.subtitle > a > button:hover {
    color: yellow;
    border-color: yellow;
}
.header-img {
    margin-top: 86px;
    text-align: center;
}
.header-img > img {
    width: 100px;
}
.navbar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.navbar ul li {
    float: left;
    width: 50px;
    height: 40px;
    background-color: black;
    line-height: 40px;
    text-align: center;
    background-attachment: fixed;
    font-family: monospace;
    margin-right: 8px;
}
.navbar ul li a img {
    width: 40px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    display: block;
}
.navbar ul li a:hover {
    background-color: rgb(24, 24, 24);
}
.navbar ul li a:active {
    background-color: lime;
}
.navbar ul li ul li {
    display: none;
}
.navbar ul li:active ul li {
    display: block;
    border: none;
    font-size: 17px;
    width: 140px;
    height: 42px;
}
.container-body {
    background-color: black;
    opacity: .9;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.container {
    margin: 12px;
    color: white;
    text-align: center;
}
.header-title-0 {
    text-align: center;
    font-family: Geneva;
}
.header-title-1 {
    font-family: 'Lucida sans';
    text-align: center;
}
.nav-btn {
    display: inline-block;
}
.nav-btn > a {
    text-decoration: none;
}
.nav-btn > a > button {
    border: none;
    padding: 10px;
    margin-right: 10px;
    background-color: green;
    color: white;
    margin-bottom: 10px;
}
.nav-btn > a > button:hover {
    background-color: darkgreen;
}
.paragraph {
    text-align: left;
    margin: 18px;
    font-family: Verdana, sans-serif;
    font-size: small;
}
.normal-element-btn {
    margin: 20px;
}
.normal-element-btn > a {
    text-decoration: none;
}
.normal-element-btn > a > button {
    padding: 8px;
    text-align: center;
    background: none;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.normal-element-btn > a > button:hover {
    border-color: yellow;
    color: yellow;
}
.normal-element-btn > a > button:active {
    margin-top: 2px;
}
.element-normal-img {
    text-align: center;
}
.element-normal-img > img {
    margin: 5px;
    width: 150px;
}
.end-footer-element {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;
}
.end-footer-sosmed-elemnt > a {
    text-decoration: none;
    margin: 4px;
}
.end-footer-sosmed-elemnt > a > img {
    height: 40px;
}
.copyright {
    color: white;
    font-family: Courier;
    font-size: x-small;
    margin-right: -8px;
    margin-left: -8px;
}
.background-0 {
    background: url(images/background-1.png) no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    margin: -8px;
}
.regular-element-header-title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3cm;
    margin-bottom: 2cm;
    color: white;
}
.background-1 {
    background: url(images/background-2.png) no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    margin: -8px;
}